.svgWrapper circle, .svgWrapper rect, .svgWrapper path {
  transition: all 1s ease-in-out;
  opacity: 1;
}

.svgWrapper circle:hover,
.svgWrapper rect:hover,
.svgWrapper path:hover {
  opacity: 0.4;
  transition: all 1s ease-in-out;
}